
input:invalid {
  border-color: initial;
}
input:focus:invalid,
input:focus-visible:invalid,
textarea:focus:invalid {
  border-color: red;
}

@layer components {
  .contact-message {
    @apply mb-6 text-white border-brand bg-brand rounded p-4;
  }
}
